.autocomplete-wrapper {
  position: relative;
}

.autocomplete-results {
  color: #000;
  position: absolute;
  background: white;
  z-index: 1;
  top: 100%;
  width: 125%;
  font-size: 13px;
  left: 0;
  border: solid 1px #ddd;
  border-top-width: 0;
  border-bottom-color: #ccc;
  box-shadow: 
    0 5px 10px rgba(0, 0, 0, 0.2);
}

.autocomplete-result {
  width: 100%;
  padding: 8px 10px;
  border-bottom: solid 1px #ccc;
  cursor: pointer;
}

.autocomplete-result:hover {
  background-color: #000;
  color: #fff;
}

.autocomplete-result:last-child {
  border-bottom-width: 0;
}

.autocomplete-location {
  opacity: .8;
  font-size: smaller;
}