---
http_interactions:
- request:
    method: post
    uri: https://test.api.amadeus.com/v1/security/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&client_id=<AMADEUS_KEY>&client_secret=<AMADEUS_SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ama-Gateway-Request-Id:
      - rrt-0199180a7287f85a1-c-eu-21292-976180630-1
    body:
      encoding: UTF-8
      string: "\n        {\n            \"type\": \"amadeusOAuth2Token\",\n            \"username\":
        \"smog3719@gmail.com\",\n            \"application_name\": \"Test\",\n            \"client_id\":
        \"<AMADEUS_KEY>\",\n            \"token_type\": \"Bearer\",\n            \"access_token\":
        \"AzEfAFkjfAWqGS2GchLM6hJMYYUx\",\n            \"expires_in\": 1799,\n            \"state\":
        \"approved\",\n            \"scope\": \"\"\n        }\n        "
  recorded_at: Sun, 20 Nov 2022 08:38:43 GMT
- request:
    method: get
    uri: https://test.api.amadeus.com/v1/airport/direct-destinations?departureAirportCode=TPE
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer AzEfAFkjfAWqGS2GchLM6hJMYYUx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Internal-Message-Version:
      - '14.1'
      Ama-Request-Id:
      - 00015RT7YLN1CK
      Ama-Gateway-Request-Id:
      - rrt-0199180a7287f85a1-c-eu-21287-976180807-1
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "meta" : {
            "count" : 97,
            "links" : {
              "self" : "https://test.api.amadeus.com/v1/airport/direct-destinations?departureAirportCode=TPE"
            }
          },
          "data" : [ {
            "type" : "location",
            "subtype" : "city",
            "name" : "AUCKLAND",
            "iataCode" : "AKL"
          }, {
            "type" : "location",
            "subtype" : "city",
            "name" : "AMSTERDAM",
            "iataCode" : "AMS"
          }, {
            "type" : "location",
            "subtype" : "city",
            "name" : "AOMORI",
            "iataCode" : "AOJ"
          }, {
            "type" : "location",
            "subtype" : "city",
            "name" : "BEIJING",
            "iataCode" : "BJS"
          }, {
            "type" : "location",
            "su[...]
[...]
- request:
    method: post
    uri: https://test.api.amadeus.com/v2/shopping/flight-offers
    body:
      encoding: UTF-8
      string: '{"currencyCode":"USD","originDestinations":[{"id":1,"originLocationCode":"TPE","destinationLocationCode":"MAD","departureDateTimeRange":{"date":"2022-12-31"}},{"id":2,"originLocationCode":"MAD","destinationLocationCode":"TPE","departureDateTimeRange":{"date":"2023-01-29"}}],"travelers":[{"id":"1","travelerType":"ADULT"}],"sources":["GDS"]}'
    headers:
      Authorization:
      - Bearer AzEfAFkjfAWqGS2GchLM6hJMYYUx
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Internal-Message-Version:
      - '14.1'
      Ama-Request-Id:
      - 0001NA5AHLN1CU
      Ama-Gateway-Request-Id:
      - rrt-069e7ecc8230c06c3-a-de-2582-213895320-1
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"count":33},"data":[{"type":"flight-offer","id":"1","source":"GDS","instantTicketingRequired":false,"nonHomogeneous":false,"oneWay":false,"lastTicketingDate":"2022-11-28","numberOfBookableSeats":9,"itineraries":[{"duration":"PT20H55M","segments":[{"departure":{"iataCode":"TPE","terminal":"1","at":"2022-12-31T22:45:00"},"arrival":{"iataCode":"DXB","terminal":"3","at":"2023-01-01T04:40:00"},"carrierCode":"EK","number":"367","aircraft":{"code":"77W"},"operating":{"carrierCode":"EK"},"duration":"PT9H55M","id":"29","numberOfStops":0,"blacklistedInEU":false},{"departure":{"iataCode":"DXB","terminal":"3","at":"2023-01-01T07:25:00"},"arrival":{"iataCode":"MAD","terminal":"4S","at":"2023-01-01T12:40:00"},"carrierCode":"EK","number":"141","aircraft":{"code":"388"},"operating":{"carrierCode":"EK"},"duration":"PT8H15M","id":"30","numberOfStops":0,"blacklistedInEU":false}]},{"duration":"PT17H20M","segments":[{"departure":{"iataCode":"MAD","terminal":"4S","at":"2023-01-29T14:25:00"},"arrival":{"iataCode":"DXB","terminal":"3","at":"2023-01-30T00:25:00"},"carrierCode":"EK","number":"142","aircraft":{"code":"388"},"operating":{"carrierCode":"EK"},"duration":"PT7H","id":"51","numberOfStops":0,"blacklistedInEU":false},{"departure":{"iataCode":"DXB","terminal":"3","at":"2023-01-30T02:50:00"},"arrival":{"iataCode":"TPE","terminal":"1","at":"2023-01-30T14:45:00"},"carrierCode":"EK","number":"366","aircraft":{"code":"77W"},"operating":{"carrierCode":"EK"},"duration":"PT7H55M","id":"52","numberOfStops":0,"blacklistedInEU":false}]}],"price":{"currency":"USD","total":"1345.40","base":"941.00","fees":[{"amount":"0.00","type":"SUPPLIER"},{"amount":"0.00","type":"TICKETING"}],"grandTotal":"1345.40"},"pricingOptions":{"fareType":["PUBLISHED"],"includedCheckedBagsOnly":true},"validatingAirlineCodes":["EK"],"travelerPricings":[{"travelerId":"1","fareOption":"STANDARD","travelerType":"ADULT","price":{"currency":"USD","total":"1345.40","base":"941.00"},"fareDetailsBySegment":[{"segmentId":"29","cabin":"ECONOMY","fareBasis":"TLWEPTW1","brandedFare":"ECOSAVER","class":"T","includedCheckedBags":{"weight":25,"weightUnit":"KG"}},{"segmentId":"30","cabin":"ECONOMY","fareBasis":"TLWEPTW1","brandedFare":"ECOSAVER","class":"T","includedCheckedBags":{"weight":25,"weightUnit":"KG"}},{"segmentId":"51","cabin":"ECONOMY","fareBasis":"BLWESTW1","brandedFare":"ECOFLEX","class":"B","includedCheckedBags":{"weight":30,"weightUnit":"KG"}},{"segmentId":"52","cabin":"ECONOMY","fareBasis":"BLWESTW1","brandedFare":"ECOFLEX","class":"B","includedCheckedBags":{"weight":30,"weightUnit":"KG"}}]}]},{"type":"flight-offer","id":"2","source":"GDS","instantTicketingRequired":false,"nonHomogeneous":false,"oneWay":false,"lastTicketingDate":"2022-12-31","numberOfBookableSeats":2,"itineraries":[{"duration":"PT22H35M","segments":[{"departure":{"iataCode":"TPE","terminal":"2","at":"2022-12-31T20:40:00"},"arrival":{"iataCode":"AMS","at":"2023-01-01T07:15:00"},"carrierCode":"KL","number":"844","aircraft":{"code":"789"},"operating":{"carrierCode":"KL"},"duration":"PT17H35M","stops":[{"iataCode":"BKK","duration":"PT1H15M","arrivalAt":"2022-12-31T23:25:00","departureAt":"2023-01-01T00:40:00"}],"id":"15","numberOfStops":1,"blacklistedInEU":false},{"departure":{"iataCode":"AMS","at":"2023-01-01T09:45:00"},"arrival":{"iataCode":"MAD","terminal":"2","at":"2023-01-01T12:15:00"},"carrierCode":"KL","number":"1701","aircraft":{"code":"73H"},"operating":{"carrierCode":"KL"},"duration":"PT2H30M","id":"16","numberOfStops":0,"blacklistedInEU":false}]},{"duration":"PT23H","segments":[{"departure":{"iataCode":"MAD","terminal":"2","at":"2023-01-29T13:00:00"},"arrival":{"iataCode":"AMS","at":"2023-01-29T15:35:00"},"carrierCode":"KL","number":"1702","aircraft":{"code":"73H"},"operating":{"carrierCode":"KL"},"duration":"PT2H35M","id":"38","numberOfStops":0,"blacklistedInEU":false},{"departure":{"iataCode":"AMS","at":"2023-01-29T20:25:00"},"arrival":{"iataCode":"TPE","terminal":"2","at":"2023-01-30T19:00:00"},"carrierCode":"KL","number":"843","aircraft":{"code":"789"},"operating":{"carrierCode":"KL"},"duration":"PT15H35M","stops":[{"iataCode":"BKK","duration":"PT1H15M","arrivalAt":"2023-01-30T13:20:00","departureAt":"2023-01-30T14:35:00"}],"id":"39","numberOfStops":1,"blacklistedInEU":false}]}],"price":{"currency":"USD","total":"1668.40","base":"1312.00","fees":[{"amount":"0.00","type":"SUPPLIER"},{"amount":"0.00","type":"TICKETING"}],"grandTotal":"1668.40","additionalServices":[{"amount":"123.80","type":"CHECKED_BAGS"}]},"pricingOptions":{"fareType":["PUBLISHED"],"includedCheckedBagsOnly":false},"validatingAirlineCodes":["AF"],"travelerPricings":[{"travelerId":"1","fareOption":"STANDARD","travelerType":"ADULT","price":{"currency":"USD","total":"1668.40","base":"1312.00"},"fareDetailsBySegment":[{"segmentId":"15","cabin":"ECONOMY","fareBasis":"HL50EALC","brandedFare":"LIGHT","class":"H","includedCheckedBags":{"quantity":0}},{"segmentId":"16","cabin":"ECONOMY","fareBasis":"HL50EALC","brandedFare":"LIGHT","class":"K","includedCheckedBags":{"quantity":0}},{"segmentId":"38","cabin":"ECONOMY","fareBasis":"KL50EALC","brandedFare":"LIGHT","class":"K","includedCheckedBags":{"quantity":0}},{"segmentId":"39","cabin":"ECONOMY","fareBasis":"KL50EALC","brandedFare":"LIGHT","class":"K","includedCheckedBags":{"quantity":0}}]}]},{"type":"flight-offer","id":"3","source":"GDS","instantTicketingRequired":false,"nonHomogeneous":fa[...]
- request:
    method: post
    uri: https://test.api.amadeus.com/v1/security/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&client_id=BAD_TOKEN&client_secret=BAD_SECRET
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Ama-Gateway-Request-Id:
      - rrt-0d916d8001ff5bb68-a-de-2246-213158710-1
    body:
      encoding: UTF-8
      string: "\n                {\n                    \"error\":\"invalid_client\",\n
        \                   \"error_description\": \"Client credentials are invalid\",\n
        \                   \"code\": 38187,\n                    \"title\": \"Invalid
        parameters\"\n                }\n            "
  recorded_at: Sun, 20 Nov 2022 08:39:01 GMT
- request:
    method: get
    uri: https://test.api.amadeus.com/v1/airport/direct-destinations?departureAirportCode=TPE
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - 'Bearer '
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Www-Authenticate:
      - 'Bearer realm="null",error="invalid_token",error_description="oauth.v2.InvalidAccessToken:
        Invalid access token"'
      Ama-Gateway-Request-Id:
      - rrt-0d916d8001ff5bb68-a-de-2246-213158774-1
    body:
      encoding: ASCII-8BIT
      string: "\n            {\n                \"errors\": [\n                        {\n
        \                           \"code\": 38191,\n                            \"title\":
        \"Invalid HTTP header\",\n                            \"detail\": \"Missing
        or invalid format for mandatory Authorization header\",\n                            \"status\":
        401\n                        }\n                ]\n            }\n        "
  recorded_at: Sun, 20 Nov 2022 08:39:02 GMT
- request:
    method: get
    uri: https://test.api.amadeus.com/v1/airport/direct-destinations?departureAirportCode=Invalid_Length
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer AzEfAFkjfAWqGS2GchLM6hJMYYUx
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Internal-Message-Version:
      - '14.1'
      Ama-Request-Id:
      - 00015RTANLN1D4
      Ama-Gateway-Request-Id:
      - rrt-0d916d8001ff5bb68-a-de-2246-213158823-1
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "errors" : [ {
            "code" : 477,
            "title" : "INVALID FORMAT",
            "detail" : "Format of query parameter 'departureAirportCode' should be Alpha",
            "source" : {
              "parameter" : "departureAirportCode",
              "example" : "BLR"
            },
            "status" : 400
          }, {
            "code" : 2781,
            "title" : "INVALID LENGTH",
            "detail" : "Length of query parameter 'departureAirportCode' should be 3",
            "source" : {
              "parameter" : "departureAirportCode",
              "example" : "BLR"
            },
            "status" : 400
          } ]
        }
  recorded_at: Sun, 20 Nov 2022 08:39:04 GMT
- request:
    method: get
    uri: https://test.api.amadeus.com/v1/airport/direct-destinations?departureAirportCode=XYZ
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer AzEfAFkjfAWqGS2GchLM6hJMYYUx
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Internal-Message-Version:
      - '14.1'
      Ama-Request-Id:
      - 0001NA5CCLN1D5
      Ama-Gateway-Request-Id:
      - rrt-0d916d8001ff5bb68-a-de-2246-213158891-1
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "errors" : [ {
            "code" : 4926,
            "title" : "INVALID DATA RECEIVED",
            "detail" : "Departure airport code is not supported",
            "source" : {
              "parameter" : "departureAirportCode"
            },
            "status" : 400
          } ]
        }
  recorded_at: Sun, 20 Nov 2022 08:39:05 GMT
recorded_with: VCR 6.1.0
