---
http_interactions:
- request:
    method: post
    uri: https://test.api.amadeus.com/v1/security/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&client_id=<AMADEUS_KEY>&client_secret=<AMADEUS_SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ama-Gateway-Request-Id:
      - rrt-025c5d0a4747e557a-b-de-6409-185426532-1
    body:
      encoding: UTF-8
      string: "\n        {\n            \"type\": \"amadeusOAuth2Token\",\n            \"username\":
        \"chiuzubennychilumbu@gmail.com\",\n            \"application_name\": \"Chiuzu\",\n
        \           \"client_id\": \"<AMADEUS_KEY>\",\n            \"token_type\":
        \"Bearer\",\n            \"access_token\": \"nxWB1dzSuL5zDJcixmOSAx4p0FJh\",\n
        \           \"expires_in\": 1799,\n            \"state\": \"approved\",\n
        \           \"scope\": \"\"\n        }\n        "
  recorded_at: Sat, 12 Nov 2022 09:51:32 GMT
- request:
    method: post
    uri: https://test.api.amadeus.com/v2/shopping/flight-offers
    body:
      encoding: UTF-8
      string: '{"currencyCode":"USD","originDestinations":[{"id":1,"originLocationCode":"TPE","destinationLocationCode":"MAD","departureDateTimeRange":{"date":"2022-11-21","time":"10:00:00"}},{"id":2,"originLocationCode":"MAD","destinationLocationCode":"TPE","departureDateTimeRange":{"date":"2022-11-28","time":"17:00:00"}}],"travelers":[{"id":"1","travelerType":"ADULT"}],"sources":["GDS"]}'
    headers:
      Authorization:
      - Bearer nxWB1dzSuL5zDJcixmOSAx4p0FJh
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Internal-Message-Version:
      - '14.1'
      Ama-Request-Id:
      - 0001PU6ETL8BDX
      Ama-Gateway-Request-Id:
      - rrt-025c5d0a4747e557a-b-de-6410-185426580-1
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"count":242},"data":[{"type":"flight-offer","id":"1","source":"GDS","instantTicketingRequired":false,"nonHomogeneous":false,"oneWay":false,"lastTicketingDate":"2022-11-15","numberOfBookableSeats":4,"itineraries":[{"duration":"PT28H25M","segments":[{"departure":{"iataCode":"TPE","terminal":"1","at":"2022-11-21T13:55:00"},"arrival":{"iataCode":"BKK","at":"2022-11-21T16:50:00"},"carrierCode":"LH","number":"9729","aircraft":{"code":"77W"},"operating":{"carrierCode":"TG"},"duration":"PT3H55M","id":"62","numberOfStops":0,"blacklistedInEU":false},{"departure":{"iataCode":"BKK","at":"2022-11-22T00:05:00"},"arrival":{"iataCode":"MUC","terminal":"2","at":"2022-11-22T05:25:00"},"carrierCode":"LH","number":"773","aircraft":{"code":"359"},"operating":{"carrierCode":"LH"},"duration":"PT11H20M","id":"63","numberOfStops":0,"blacklistedInEU":false},{"departure":{"iataCode":"MUC","terminal":"2","at":"2022-11-22T08:40:00"},"arrival":{"iataCode":"MAD","terminal":"2","at":"2022-11-22T11:20:00"},"carrierCode":"LH","number":"1800","aircraft":{"co[...]
- request:
    method: get
    uri: https://test.api.amadeus.com/v1/airport/direct-destinations?departureAirportCode=TPE
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer nxWB1dzSuL5zDJcixmOSAx4p0FJh
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Internal-Message-Version:
      - '14.1'
      Ama-Request-Id:
      - 0001RGWRGL8BE5
      Ama-Gateway-Request-Id:
      - rrt-025c5d0a4747e557a-b-de-6411-185427031-1
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "meta" : {
            "count" : 97,
            "links" : {
              "self" : "https://test.api.amadeus.com/v1/airport/direct-destinations?departureAirportCode=TPE"
            }
          },
          "data" : [ {
            "type" : "location",
            "subtype" : "city",
            "name" : "AUCKLAND",
            "iataCode" : "AKL"
          }, {
            "type" : "location",
            "subtype" : "city",
            "name" : "AMSTERDAM",
            "iataCode" : "AMS"
          }, {
            "type" : "location",
            "subtype" : "city",
            "name" : "AOMORI",
            "iataCode" : "AOJ"
          }, {
            "type" : "location",
            "subtype" : "city",
            "name" : "BEIJING",
            "iataCode" : "BJS"
          }, {
           [...]
[...]
- request:
    method: get
    uri: https://test.api.amadeus.com/v1/airport/direct-destinations?departureAirportCode=Invalid_Length
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer nxWB1dzSuL5zDJcixmOSAx4p0FJh
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Internal-Message-Version:
      - '14.1'
      Ama-Request-Id:
      - 0001RGWSOL8BEG
      Ama-Gateway-Request-Id:
      - rrt-085b86030b0e437cf-b-de-18278-185062606-1
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "errors" : [ {
            "code" : 477,
            "title" : "INVALID FORMAT",
            "detail" : "Format of query parameter 'departureAirportCode' should be Alpha",
            "source" : {
              "parameter" : "departureAirportCode",
              "example" : "BLR"
            },
            "status" : 400
          }, {
            "code" : 2781,
            "title" : "INVALID LENGTH",
            "detail" : "Length of query parameter 'departureAirportCode' should be 3",
            "source" : {
              "parameter" : "departureAirportCode",
              "example" : "BLR"
            },
            "status" : 400
          } ]
        }
  recorded_at: Sat, 12 Nov 2022 09:51:53 GMT
- request:
    method: post
    uri: https://test.api.amadeus.com/v1/security/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&client_id=BAD_TOKEN&client_secret=BAD_SECRET
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Ama-Gateway-Request-Id:
      - rrt-085b86030b0e437cf-b-de-18278-185062670-1
    body:
      encoding: UTF-8
      string: "\n                {\n                    \"error\":\"invalid_client\",\n
        \                   \"error_description\": \"Client credentials are invalid\",\n
        \                   \"code\": 38187,\n                    \"title\": \"Invalid
        parameters\"\n                }\n            "
  recorded_at: Sat, 12 Nov 2022 09:51:54 GMT
- request:
    method: get
    uri: https://test.api.amadeus.com/v1/airport/direct-destinations?departureAirportCode=TPE
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - 'Bearer '
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Www-Authenticate:
      - 'Bearer realm="null",error="invalid_token",error_description="oauth.v2.InvalidAccessToken:
        Invalid access token"'
      Ama-Gateway-Request-Id:
      - rrt-085b86030b0e437cf-b-de-18278-185062720-1
    body:
      encoding: ASCII-8BIT
      string: "\n            {\n                \"errors\": [\n                        {\n
        \                           \"code\": 38191,\n                            \"title\":
        \"Invalid HTTP header\",\n                            \"detail\": \"Missing
        or invalid format for mandatory Authorization header\",\n                            \"status\":
        401\n                        }\n                ]\n            }\n        "
  recorded_at: Sat, 12 Nov 2022 09:51:55 GMT
- request:
    method: get
    uri: https://test.api.amadeus.com/v1/airport/direct-destinations?departureAirportCode=XYZ
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer nxWB1dzSuL5zDJcixmOSAx4p0FJh
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Internal-Message-Version:
      - '14.1'
      Ama-Request-Id:
      - 0001PU6G2L8BEL
      Ama-Gateway-Request-Id:
      - rrt-085b86030b0e437cf-b-de-18278-185062777-1
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "errors" : [ {
            "code" : 4926,
            "title" : "INVALID DATA RECEIVED",
            "detail" : "Departure airport code is not supported",
            "source" : {
              "parameter" : "departureAirportCode"
            },
            "status" : 400
          } ]
        }
  recorded_at: Sat, 12 Nov 2022 09:51:57 GMT
recorded_with: VCR 6.1.0
