---
http_interactions:
- request:
    method: post
    uri: https://test.api.amadeus.com/v1/security/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&client_id=<AMADEUS_KEY>&client_secret=<AMADEUS_SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ama-Gateway-Request-Id:
      - rrt-0049edb4df6b487bc-a-eu-15378-649087213-1
    body:
      encoding: UTF-8
      string: "\n        {\n            \"type\": \"amadeusOAuth2Token\",\n            \"username\":
        \"xjiang@gapp.nthu.edu.tw\",\n            \"application_name\": \"SOA_Project\",\n
        \           \"client_id\": \"<AMADEUS_KEY>\",\n            \"token_type\":
        \"Bearer\",\n            \"access_token\": \"CJE8k6DLZM90YA8wJqGEjCgVZ03Z\",\n
        \           \"expires_in\": 1799,\n            \"state\": \"approved\",\n
        \           \"scope\": \"\"\n        }\n        "
  recorded_at: Sun, 30 Oct 2022 11:53:40 GMT
[...]
- request:
    method: get
    uri: https://test.api.amadeus.com/v1/airport/direct-destinations?departureAirportCode=TPE
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer wjyjrtGpx0GGjw2I3WSm5buws3x9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Internal-Message-Version:
      - '14.1'
      Ama-Request-Id:
      - 0001TJRRQKKEDJ
      Ama-Gateway-Request-Id:
      - rrt-0049edb4df6b487bc-a-eu-15375-649087660-1
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "meta" : {
            "count" : 97,
            "links" : {
              "self" : "https://test.api.amadeus.com/v1/airport/direct-destinations?departureAirportCode=TPE"
            }
          },
          "data" : [ {
            "type" : "location",
            "subtype" : "city",
            "name" : "AUCKLAND",
            "iataCode" : "AKL"
          }, {
            "type" : "location",
            "subtype" : "city",
            "name" : "AMSTERDAM",
            "iataCode" : "AMS"
          }, {
            "type" : "location",
            "subtype" : "city",
            "name" : "AOMORI",
            "iataCode" : "AOJ"
          }, {
            "type" : "location",
            "subtype" : "city",
            "name" : "BEIJING",
            "iataCode" : "BJS"
          }, {
            "type" : "location",
            "su[...]
[...]
