---
http_interactions:
- request:
    method: post
    uri: https://test.api.amadeus.com/v1/security/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&client_id=BAD_TOKEN&client_secret=BAD_SECRET
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Ama-Gateway-Request-Id:
      - rrt-025c5d0a4747e557a-b-de-10679-163596278-1
    body:
      encoding: UTF-8
      string: "\n                {\n                    \"error\":\"invalid_client\",\n
        \                   \"error_description\": \"Client credentials are invalid\",\n
        \                   \"code\": 38187,\n                    \"title\": \"Invalid
        parameters\"\n                }\n            "
  recorded_at: Sun, 06 Nov 2022 05:43:21 GMT
- request:
    method: get
    uri: https://test.api.amadeus.com/v1/airport/direct-destinations?departureAirportCode=TPE
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - 'Bearer '
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Www-Authenticate:
      - 'Bearer realm="null",error="invalid_token",error_description="oauth.v2.InvalidAccessToken:
        Invalid access token"'
      Ama-Gateway-Request-Id:
      - rrt-025c5d0a4747e557a-b-de-10678-163596320-1
    body:
      encoding: ASCII-8BIT
      string: "\n            {\n                \"errors\": [\n                        {\n
        \                           \"code\": 38191,\n                            \"title\":
        \"Invalid HTTP header\",\n                            \"detail\": \"Missing
        or invalid format for mandatory Authorization header\",\n                            \"status\":
        401\n                        }\n                ]\n            }\n        "
  recorded_at: Sun, 06 Nov 2022 05:43:22 GMT
- request:
    method: post
    uri: https://test.api.amadeus.com/v1/security/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&client_id=<AMADEUS_KEY>&client_secret=<AMADEUS_SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ama-Gateway-Request-Id:
      - rrt-025c5d0a4747e557a-b-de-10678-163596349-1
    body:
      encoding: UTF-8
      string: "\n        {\n            \"type\": \"amadeusOAuth2Token\",\n            \"username\":
        \"xjiang@gapp.nthu.edu.tw\",\n            \"application_name\": \"SOA_Project\",\n
        \           \"client_id\": \"<AMADEUS_KEY>\",\n            \"token_type\":
        \"Bearer\",\n            \"access_token\": \"MxO1uzDJVgRdQxWU4Jha8LFK199H\",\n
        \           \"expires_in\": 1799,\n            \"state\": \"approved\",\n
        \           \"scope\": \"\"\n        }\n        "
  recorded_at: Sun, 06 Nov 2022 05:43:23 GMT
- request:
    method: get
    uri: https://test.api.amadeus.com/v1/airport/direct-destinations?departureAirportCode=TPE
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer MxO1uzDJVgRdQxWU4Jha8LFK199H
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Internal-Message-Version:
      - '14.1'
      Ama-Request-Id:
      - 0001V1USAKWVWC
      Ama-Gateway-Request-Id:
      - rrt-025c5d0a4747e557a-b-de-10679-163596387-1
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "meta" : {
            "count" : 97,
            "links" : {
              "self" : "https://test.api.amadeus.com/v1/airport/direct-destinations?departureAirportCode=TPE"
            }
          },
          "data" : [ {
            "type" : "location",
            "subtype" : "city",
            "name" : "AUCKLAND",
            "iataCode" : "AKL"
          }, {
            "type" : "location",
            "subtype" : "city",
            "name" : "AMSTERDAM",
            "iataCode" : "AMS"
          }, {
            "type" : "location",
            "subtype" : "city",
            "name" : "AOMORI",
            "iataCode" : "AOJ"
          }, {
            "type" : "location",
            "subtype" : "city",
            "name" : "BEIJING",
            "iataCode" : "BJS"
          }, {
            "type" : "location",
            "su[...]
[...]
- request:
    method: post
    uri: https://test.api.amadeus.com/v2/shopping/flight-offers
    body:
      encoding: UTF-8
      string: '{"currencyCode":"USD","originDestinations":[{"id":1,"originLocationCode":"TPE","destinationLocationCode":"MAD","departureDateTimeRange":{"date":"2022-11-21","time":"10:00:00"}},{"id":2,"originLocationCode":"MAD","destinationLocationCode":"TPE","departureDateTimeRange":{"date":"2022-11-28","time":"17:00:00"}}],"travelers":[{"id":"1","travelerType":"ADULT"}],"sources":["GDS"]}'
    headers:
      Authorization:
      - Bearer MxO1uzDJVgRdQxWU4Jha8LFK199H
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Internal-Message-Version:
      - '14.1'
      Ama-Request-Id:
      - 0001V1UTXKWVWM
      Ama-Gateway-Request-Id:
      - rrt-073f098474e19a596-b-de-20859-164868740-1
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"count":86},"data":[{"type":"flight-offer","id":"1","source":"GDS","instantTicketingRequired":false,"nonHomogeneous":false,"oneWay":false,"lastTicketingDate":"2022-11-09","numberOfBookableSeats":9,"itineraries":[{"duration":"PT19H15M","segments":[{"departure":{"iataCode":"TPE","terminal":"2","at":"2022-11-21T22:25:00"},"arrival":{"iataCode":"IST","at":"2022-11-22T06:05:00"},"carrierCode":"TK","number":"25","aircraft":{"code":"77W"},"operating":{"carrierCode":"TK"},"duration":"PT12H40M","id":"12","numberOfStops":0,"blacklistedInEU":false},{"departure":{"iataCode":"IST","at":"2022-11-22T08:10:00"},"arrival":{"iataCode":"MAD","terminal":"1","at":"2022-11-22T10:40:00"},"carrierCode":"TK","number":"1857","aircraft":{"code":"333"},"operating":{"carrierCode":"TK"},"duration":"PT4H30M","id":"13","numberOfStops":0,"blacklistedInEU":false}]},{"duration":"PT16H35M","segments":[{"departure":{"iataCode":"MAD","terminal":"1","at":"2022-11-28T18:00:00"},"arrival":{"iataCode":"IST","at":"2022-11-29T00:10:00"},"carrierCode":"TK","number":"1860","aircraft":{"code":"321"},"operating":{"carrierCode":"TK"},"duration":"PT4H10M","id":"53","numberOfStops":0,"blacklistedInEU":false},{"departure":{"iataCode":"IST","at":"2022-11-29T02:10:00"},"arrival":{"iataCode":"TPE","terminal":"2","at":"2022-11-29T17:35:00"},"carrierCode":"TK","number":"24","aircraft":{"code":"77W"},"operating":{"carrierCode":"TK"},"duration":"PT10H25M","id":"54","numberOfStops":0,"blacklistedInEU":false}]}],"price":{"currency":"USD","total":"1267.70","base":"742.00","fees":[{"amount":"0.00","type":"SUPPLIER"},{"amount":"0.00","type":"TICKETING"}],"grandTotal":"1267.70"},"pricingOptions":{"fareType":["PUBLISHED"],"includedCheckedBagsOnly":true},"validatingAirlineCodes":["TK"],"travelerPricings":[{"travelerId":"1","fareOption":"STANDARD","travelerType":"ADULT","price":{"currency":"USD","total":"1267.70","base":"742.00"},"fareDetailsBySegment":[{"segmentId":"12","cabin":"ECONOMY","fareBasis":"QLF2XPB","brandedFare":"PS","class":"Q","includedCheckedBags":{"weight":30,"weightUnit":"KG"}},{"segmentId":"13","cabin":"ECONOMY","fareBasis":"QLF2XPB","brandedFare":"PS","class":"Q","includedCheckedBags":{"weight":30,"weightUnit":"KG"}},{"segmentId":"53","cabin":"ECONOMY","fareBasis":"QLF2XPB","brandedFare":"PS","class":"Q","includedCheckedBags":{"weight":30,"weightUnit":"KG"}},{"segmentId":"54","cabin":"ECONOMY","fareBasis":"QLF2XPB","brandedFare":"PS","class":"Q","includedCheckedBags":{"weight":30,"weightUnit":"KG"}}]}]},{"type":"flight-offer","id":"2","source":"GDS","instantTi[...]
