---
http_interactions:
- request:
    method: post
    uri: https://test.api.amadeus.com/v1/security/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&client_id=<AMADEUS_KEY>&client_secret=<AMADEUS_SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ama-Gateway-Request-Id:
      - rrt-069e7ecc8230c06c3-a-de-27910-139202864-1
    body:
      encoding: UTF-8
      string: "\n        {\n            \"type\": \"amadeusOAuth2Token\",\n            \"username\":
        \"xjiang@gapp.nthu.edu.tw\",\n            \"application_name\": \"SOA_Project\",\n
        \           \"client_id\": \"<AMADEUS_KEY>\",\n            \"token_type\":
        \"Bearer\",\n            \"access_token\": \"JQVlqWAnQJJFOI3BlC2qA2KPTuqO\",\n
        \           \"expires_in\": 1799,\n            \"state\": \"approved\",\n
        \           \"scope\": \"\"\n        }\n        "
  recorded_at: Sun, 30 Oct 2022 09:44:10 GMT
- request:
    method: get
    uri: https://test.api.amadeus.com/v1/airport/direct-destinations?departureAirportCode=TPE
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer JQVlqWAnQJJFOI3BlC2qA2KPTuqO
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Internal-Message-Version:
      - '14.1'
      Ama-Request-Id:
      - 0001TJ4KCKK8DO
      Ama-Gateway-Request-Id:
      - rrt-069e7ecc8230c06c3-a-de-27910-139202924-1
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "meta" : {
            "count" : 97,
            "links" : {
              "self" : "https://test.api.amadeus.com/v1/airport/direct-destinations?departureAirportCode=TPE"
            }
          },
          "data" : [ {
            "type" : "location",
            "subtype" : "city",
            "name" : "AUCKLAND",
            "iataCode" : "AKL"
          }, {
            "type" : "location",
            "subtype" : "city",
            "name" : "AMSTERDAM",
            "iataCode" : "AMS"
          }, {
            "type" : "location",
            "subtype" : "city",
            "name" : "AOMORI",
            "iataCode" : "AOJ"
          }, {
            "type" : "location",
            "subtype" : "city",
            "name" : "BEIJING",
            "iataCode" : "BJS"
          }, {
            "type" : "location",
            "su[...]
[...]
- request:
    method: post
    uri: https://test.api.amadeus.com/v1/security/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&client_id=BAD_TOKEN&client_secret=BAD_SECRET
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Ama-Gateway-Request-Id:
      - rrt-0d05d448c25659ebf-a-eu-786-646678840-1
    body:
      encoding: UTF-8
      string: "\n                {\n                    \"error\":\"invalid_client\",\n
        \                   \"error_description\": \"Client credentials are invalid\",\n
        \                   \"code\": 38187,\n                    \"title\": \"Invalid
        parameters\"\n                }\n            "
  recorded_at: Sun, 30 Oct 2022 09:44:21 GMT
- request:
    method: get
    uri: https://test.api.amadeus.com/v1/airport/direct-destinations?departureAirportCode=TPE
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - 'Bearer '
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Www-Authenticate:
      - 'Bearer realm="null",error="invalid_token",error_description="oauth.v2.InvalidAccessToken:
        Invalid access token"'
      Ama-Gateway-Request-Id:
      - rrt-0d05d448c25659ebf-a-eu-788-646678950-1
    body:
      encoding: ASCII-8BIT
      string: "\n            {\n                \"errors\": [\n                        {\n
        \                           \"code\": 38191,\n                            \"title\":
        \"Invalid HTTP header\",\n                            \"detail\": \"Missing
        or invalid format for mandatory Authorization header\",\n                            \"status\":
        401\n                        }\n                ]\n            }\n        "
  recorded_at: Sun, 30 Oct 2022 09:44:22 GMT
- request:
    method: get
    uri: https://test.api.amadeus.com/v1/airport/direct-destinations?departureAirportCode=LSK
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer JQVlqWAnQJJFOI3BlC2qA2KPTuqO
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Internal-Message-Version:
      - '14.1'
      Ama-Request-Id:
      - 0001DYUQLKK8E1
      Ama-Gateway-Request-Id:
      - rrt-0d05d448c25659ebf-a-eu-788-646679040-1
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "warnings" : [ {
            "code" : 1797,
            "title" : "DATA NOT FOUND",
            "detail" : "No destination is available",
            "source" : {
              "parameter" : "departureAirportCode"
            },
            "status" : 200
          } ],
          "meta" : {
            "count" : 0,
            "links" : {
              "self" : "https://test.api.amadeus.com/v1/airport/direct-destinations?departureAirportCode=LSK"
            }
          }
        }
  recorded_at: Sun, 30 Oct 2022 09:44:24 GMT
- request:
    method: post
    uri: https://test.api.amadeus.com/v1/security/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&client_id=<AMADEUS_KEY>&client_secret=<AMADEUS_SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ama-Gateway-Request-Id:
      - rrt-03981587ff4478eb2-a-de-30105-140136037-1
    body:
      encoding: UTF-8
      string: "\n        {\n            \"type\": \"amadeusOAuth2Token\",\n            \"username\":
        \"xjiang@gapp.nthu.edu.tw\",\n            \"application_name\": \"SOA_Project\",\n
        \           \"client_id\": \"<AMADEUS_KEY>\",\n            \"token_type\":
        \"Bearer\",\n            \"access_token\": \"CI4tTFLIUZ4xiyRWDyuTb4ORHCkh\",\n
        \           \"expires_in\": 1799,\n            \"state\": \"approved\",\n
        \           \"scope\": \"\"\n        }\n        "
  recorded_at: Sun, 30 Oct 2022 09:44:25 GMT
recorded_with: VCR 6.1.0
