---
http_interactions:
- request:
    method: post
    uri: https://test.api.amadeus.com/v1/security/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&client_id=<AMADEUS_KEY>&client_secret=<AMADEUS_SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ama-Gateway-Request-Id:
      - rrt-0ccf8e5d584802658-b-de-16436-140813712-1
    body:
      encoding: UTF-8
      string: "\n        {\n            \"type\": \"amadeusOAuth2Token\",\n            \"username\":
        \"smog3719@gmail.com\",\n            \"application_name\": \"Test\",\n            \"client_id\":
        \"<AMADEUS_KEY>\",\n            \"token_type\": \"Bearer\",\n            \"access_token\":
        \"94yyKLXra1D9twKbBczGggGA9IAy\",\n            \"expires_in\": 1799,\n            \"state\":
        \"approved\",\n            \"scope\": \"\"\n        }\n        "
  recorded_at: Sun, 30 Oct 2022 16:45:36 GMT
- request:
    method: post
    uri: https://test.api.amadeus.com/v2/shopping/flight-offers
    body:
      encoding: UTF-8
      string: '{"currencyCode":"USD","originDestinations":[{"id":1,"originLocationCode":"TPE","destinationLocationCode":"MAD","departureDateTimeRange":{"date":"2022-11-01","time":"10:00:00"}},{"id":2,"originLocationCode":"MAD","destinationLocationCode":"TPE","departureDateTimeRange":{"date":"2022-11-05","time":"17:00:00"}}],"travelers":[{"id":"1","travelerType":"ADULT"}],"sources":["GDS"]}'
    headers:
      Authorization:
      - Bearer 94yyKLXra1D9twKbBczGggGA9IAy
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Internal-Message-Version:
      - '14.1'
      Ama-Request-Id:
      - 0001TL81JKKRW1
      Ama-Gateway-Request-Id:
      - rrt-0ccf8e5d584802658-b-de-16436-140813738-1
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"count":2},"data":[{"type":"flight-offer","id":"1","source":"GDS","instantTicketingRequired":false,"nonHomogeneous":false,"oneWay":false,"lastTicketingDate":"2022-11-01","numberOfBookableSeats":9,"itineraries":[{"duration":"PT19H15M","segments":[{"departure":{"iataCode":"TPE","terminal":"2","at":"2022-11-01T22:25:00"},"arrival":{"iataCode":"IST","at":"2022-11-02T06:05:00"},"carrierCode":"TK","number":"25","aircraft":{"code":"77W"},"operating":{"carrierCode":"TK"},"duration":"PT12H40M","id":"3","numberOfStops":0,"blacklistedInEU":false},{"departure":{"iataCode":"IST","at":"2022-11-02T08:10:00"},"arrival":{"iataCode":"MAD","terminal":"1","at":"2022-11-02T10:40:00"},"carrierCode":"TK","number":"1857","aircraft":{"code":"333"},"operating":{"carrierCode":"TK"},"duration":"PT4H30M","id":"4","numberOfStops":0,"blacklistedInEU":false}]},{"duration":"PT16H35M","segments":[{"departure":{"iataCode":"MAD","terminal":"1","at":"2022-11-05T18:00:00"},"arrival":{"iataCode":"IST","at":"2022-11-06T00:10:00"},"carrierCode":"TK","number":"1860","aircraft":{"code":"321"},"operating":{"carrierCode":"TK"},"duration":"PT4H10M","id":"5","numberOfStops":0,"blacklistedInEU":false},{"departure":{"iataCode":"IST","at":"2022-11-06T02:10:00"},"arrival":{"iataCode":"TPE","terminal":"2","at":"2022-11-06T17:35:00"},"carrierCode":"TK","number":"24","aircraft":{"code":"77W"},"operating":{"carrierCode":"TK"},"duration":"PT10H25M","id":"6","numberOfStops":0,"blacklistedInEU":false}]}],"price":{"currency":"USD","total":"1790.00","base":"1265.00","fees":[{"amount":"0.00","type":"SUPPLIER"},{"amount":"0.00","type":"TICKETING"}],"grandTotal":"1790.00"},"pricingOptions":{"fareType":["PUBLISHED"],"includedCheckedBagsOnly":true},"validatingAirlineCodes":["TK"],"travelerPricings":[{"travelerId":"1","fareOption":"STANDARD","travelerType":"ADULT","price":{"currency":"USD","total":"1790.00","base":"1265.00"},"fareDetailsBySegment":[{"segmentId":"3","cabin":"ECONOMY","fareBasis":"OLF2XPX","brandedFare":"RS","class":"O","includedCheckedBags":{"weight":30,"weightUnit":"KG"}},{"segmentId":"4","cabin":"ECONOMY","fareBasis":"OLF2XPX","brandedFare":"RS","class":"O","includedCheckedBags":{"weight":30,"weightUnit":"KG"}},{"segmentId":"5","cabin":"ECONOMY","fareBasis":"HLF2XEX","brandedFare":"FX","class":"H","includedCheckedBags":{"weight":30,"weightUnit":"KG"}},{"segmentId":"6","cabin":"ECONOMY","fareBasis":"HLF2XEX","brandedFare":"FX","class":"H","includedCheckedBags":{"weight":30,"weightUnit":"KG"}}]}]},{"type":"flight-offer","id":"2","source":"GDS","instantTicke[...]
- request:
    method: post
    uri: https://test.api.amadeus.com/v1/security/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&client_id=BAD_TOKEN&client_secret=BAD_SECRET
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Ama-Gateway-Request-Id:
      - rrt-0d916d8001ff5bb68-a-de-4346-139921128-1
    body:
      encoding: UTF-8
      string: "\n                {\n                    \"error\":\"invalid_client\",\n
        \                   \"error_description\": \"Client credentials are invalid\",\n
        \                   \"code\": 38187,\n                    \"title\": \"Invalid
        parameters\"\n                }\n            "
  recorded_at: Sun, 30 Oct 2022 16:45:44 GMT
- request:
    method: get
    uri: https://test.api.amadeus.com/v1/airport/direct-destinations?departureAirportCode=TPE
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - 'Bearer '
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Www-Authenticate:
      - 'Bearer realm="null",error="invalid_token",error_description="oauth.v2.InvalidAccessToken:
        Invalid access token"'
      Ama-Gateway-Request-Id:
      - rrt-0d916d8001ff5bb68-a-de-4346-139921213-1
    body:
      encoding: ASCII-8BIT
      string: "\n            {\n                \"errors\": [\n                        {\n
        \                           \"code\": 38191,\n                            \"title\":
        \"Invalid HTTP header\",\n                            \"detail\": \"Missing
        or invalid format for mandatory Authorization header\",\n                            \"status\":
        401\n                        }\n                ]\n            }\n        "
  recorded_at: Sun, 30 Oct 2022 16:45:45 GMT
- request:
    method: get
    uri: https://test.api.amadeus.com/v1/airport/direct-destinations?departureAirportCode=TPE
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer 94yyKLXra1D9twKbBczGggGA9IAy
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Internal-Message-Version:
      - '14.1'
      Ama-Request-Id:
      - 0001E0NXJKKRWA
      Ama-Gateway-Request-Id:
      - rrt-0d916d8001ff5bb68-a-de-4346-139921274-1
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "meta" : {
            "count" : 97,
            "links" : {
              "self" : "https://test.api.amadeus.com/v1/airport/direct-destinations?departureAirportCode=TPE"
            }
          },
          "data" : [ {
            "type" : "location",
            "subtype" : "city",
            "name" : "AUCKLAND",
            "iataCode" : "AKL"
          }, {
            "type" : "location",
            "subtype" : "city",
            "name" : "AMSTERDAM",
            "iataCode" : "AMS"
          }, {
            "type" : "location",
            "subtype" : "city",
            "name" : "AOMORI",
            "iataCode" : "AOJ"
          }, {
            "type" : "location",
            "subtype" : "city",
            "name" : "BEIJING",
            "iataCode" : "BJS"
          }, {
           [...]
[...]
- request:
    method: get
    uri: https://test.api.amadeus.com/v1/airport/direct-destinations?departureAirportCode=LSK
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer 94yyKLXra1D9twKbBczGggGA9IAy
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Internal-Message-Version:
      - '14.1'
      Ama-Request-Id:
      - 0001TL9CEKKSCE
      Ama-Gateway-Request-Id:
      - rrt-0160a27b14faae615-a-de-28702-140986563-1
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "warnings" : [ {
            "code" : 1797,
            "title" : "DATA NOT FOUND",
            "detail" : "No destination is available",
            "source" : {
              "parameter" : "departureAirportCode"
            },
            "status" : 200
          } ],
          "meta" : {
            "count" : 0,
            "links" : {
              "self" : "https://test.api.amadeus.com/v1/airport/direct-destinations?departureAirportCode=LSK"
            }
          }
        }
  recorded_at: Sun, 30 Oct 2022 16:55:26 GMT
recorded_with: VCR 6.1.0
