---
http_interactions:
- request:
    method: post
    uri: https://test.api.amadeus.com/v1/security/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&client_id=<AMADEUS_KEY>&client_secret=<AMADEUS_SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ama-Gateway-Request-Id:
      - rrt-0d916d8001ff5bb68-a-de-15092-224251160-1
    body:
      encoding: UTF-8
      string: "\n        {\n            \"type\": \"amadeusOAuth2Token\",\n            \"username\":
        \"smog3719@gmail.com\",\n            \"application_name\": \"Test\",\n            \"client_id\":
        \"<AMADEUS_KEY>\",\n            \"token_type\": \"Bearer\",\n            \"access_token\":
        \"hXD7UJwebVsO6mWNmKAqdBSmyFLS\",\n            \"expires_in\": 1799,\n            \"state\":
        \"approved\",\n            \"scope\": \"\"\n        }\n        "
  recorded_at: Wed, 23 Nov 2022 08:39:12 GMT
- request:
    method: post
    uri: https://test.api.amadeus.com/v2/shopping/flight-offers
    body:
      encoding: UTF-8
      string: '{"currencyCode":"USD","originDestinations":[{"id":1,"originLocationCode":"TPE","destinationLocationCode":"MAD","departureDateTimeRange":{"date":"2022-12-31"}},{"id":2,"originLocationCode":"MAD","destinationLocationCode":"TPE","departureDateTimeRange":{"date":"2023-01-29"}}],"travelers":[{"id":1,"travelerType":"ADULT"},{"id":2,"travelerType":"CHILD"},{"id":3,"travelerType":"CHILD"}],"sources":["GDS"]}'
    headers:
      Authorization:
      - Bearer hXD7UJwebVsO6mWNmKAqdBSmyFLS
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Internal-Message-Version:
      - '14.1'
      Ama-Request-Id:
      - 000173STCLSLDD
      Ama-Gateway-Request-Id:
      - rrt-0d916d8001ff5bb68-a-de-15093-224251273-1
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"count":58},"data":[{"type":"flight-offer","id":"1","source":"GDS","instantTicketingRequired":false,"nonHomogeneous":false,"oneWay":false,"lastTicketingDate":"2022-11-26","numberOfBookableSeats":9,"itineraries":[{"duration":"PT47H10M","segments":[{"departure":{"iataCode":"TPE","terminal":"1","at":"2022-12-31T21:15:00"},"arrival":{"iataCode":"HKG","terminal":"1","at":"2022-12-31T23:10:00"},"carrierCode":"CX","number":"479","aircraft":{"code":"333"},"operating":{"carrierCode":"CX"},"duration":"PT1H55M","id":"13","numberOfStops":0,"blacklistedInEU":false},{"departure":{"iataCode":"HKG","terminal":"1","at":"2023-01-01T22:45:00"},"arrival":{"iataCode":"ZRH","at":"2023-01-02T06:10:00"},"carrierCode":"LX","number":"139","aircraft":{"code":"343"},"operating":{"carrierCode":"LX"},"duration":"PT14H25M","id":"14","numberOfStops":0,"blacklistedInEU":false},{"departure":{"iataCode":"ZRH","at":"2023-01-02T11:00:00"},"arrival":{"iataCode":"MAD","terminal":"2","at":"2023-01-02T13:25:00"},"carrierCode":"LX","number":"2026","aircraft":{"code":"E90"},"ope[...]
